[submodule "Core"]
	path = modules/Core
	url = git@github.com:omaicode/ocms-core.git
[submodule "Appearance"]
	path = modules/Appearance
	url = git@github.com:omaicode/ocms-appearance.git
[submodule "Page"]
	path = modules/Page
	url = git@github.com:omaicode/ocms-page.git
[submodule "Media"]
	path = modules/Media
	url = git@github.com:omaicode/ocms-media.git
[submodule "Form"]
	path = modules/Form
	url = git@github.com:omaicode/ocms-form.git
[submodule "System"]
	path = modules/System
	url = git@github.com:omaicode/ocms-system.git
